/childhood
/wp-admin
/wp-includes
/wp-content/languages
/wp-content/plugins
/wp-content/uploads
/wp-content/index.php
/wp-content/themes/twentynineteen
/wp-content/themes/twentytwenty
/wp-content/themes/twentytwentyone
/wp-content/themes/index.php
.htaccess

license
readme
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-*.php
xmlrpc.php



